html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3",sans-serif;
}
/* Navigation section */
nav,.logo,.nav-links{
    display:flex;
}
.logo,.nav-links{
    align-items: center;
}
nav{
    justify-content: space-between;
    padding:0.625em 1.25em;
}

.logo{
    justify-content: center;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    letter-spacing: 0.1px;
    gap:2px;
}
.nav-links{
    list-style-type:none;
    text-align: center;
    gap:40px;
}
.nav-links li a {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-weight:500;
}
/* Hero article */
a{
    text-decoration: none;
    color:inherit;
}
.hero-article{
    color:whitesmoke;
    background-image: url("../images/article-image-hero.png");
    background-size: cover;
    padding:5em 1.5em 1.5em;
}
.date{
    text-transform: uppercase;
    margin-bottom: 0.25em;
}
header p{
    max-width: 600px;
}

/*Main Content*/
.title{
    margin:0;
}   
main{
    display:grid;
    grid-template-columns: 1fr;
}
.article{
    padding:1em;
    transition: background-color 0.25s;
}
.article:hover{
    background-color: #e9f6fa;
}
.article-img{
    width:100%;
}
.blog-text{
    color:#505050;
    margin-top:0.5em;
}
.view-more{
    text-align: center;
    font-weight:bold;
    cursor:pointer;
}
/* Footer */
footer{
    text-align: center;
    padding:1em;
    color:whitesmoke;
    background-color:#202020;
}

/* Media queries */
@media(min-width:768px){
    main{
        grid-template-columns: repeat(3,1fr);
    }
    header{
        margin-top: 20em;
    }
}