html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3",sans-serif;
}
/* Navigation section */
nav{
    display:flex;
    justify-content: space-between;
    padding:0.625em 1.25em;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    letter-spacing: 0.1px;
    gap:2px;
}
.nav-links{
    display:flex;
    list-style-type:none;
    align-items: center;
    text-align: center;
    gap:40px;
}
.nav-links > li > a {
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-weight:500;
}
/* Hero article */
.hero-article{
    color:whitesmoke;
    background-image: url("../images/article-image-hero.png");
    background-size: cover;
    padding:1.5em;
}
header{
    margin-top:3em;
}
header > p,h1{
    margin:0 0 0.25em;
}